<div>
  <h4>Book added correctly, whit thease information:</h4>
  <ul>
    <li>Title: {{this.book.title}}</li>
    <li>Description: {{this.book.description}}</li>
    <li>Author: {{this.book.author}}</li>
    <li>Image: {{this.book.image}}</li>
  </ul>
</div>